<div class="info-container">
	<div class="source"><a href='https://github.com/Christian-Paul/fcc-voting'>GitHub Repository</a></div>
	<div class="signature"><a href='https://dawningagedesigns.com/'>Made by Christian Paul</a></div>
</div>