<div class="navbar">
	<div class='destination'>
		<a class='logo-holder' href='../'>
          <svg class='logo' version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 24 24">
          	<path class="path1" d="M17.016 17.016v-4.031h-2.016v4.031h2.016zM12.984 17.016v-10.031h-1.969v10.031h1.969zM9 17.016v-7.031h-2.016v7.031h2.016zM18.984 3c1.078 0 2.016 0.938 2.016 2.016v13.969c0 1.078-0.938 2.016-2.016 2.016h-13.969c-1.078 0-2.016-0.938-2.016-2.016v-13.969c0-1.078 0.938-2.016 2.016-2.016h13.969z"></path>
          </svg>
          <div class='logo-name'>Pollify</div>
        </a>
	</div>
	<div class='destination'>
		<% if(userInfo) { %>
			<div class='user-interface'>
				<div class="user-info">
					<img src=<%- userInfo['profile_image_url_https'] %> class='user-image'>
				</div>
				<div class="dropdown-arrow"></div>
				<div class="dropdown-arrow-shadow"></div>
				<div class="dropdown">
					<div class='username'><%= userInfo['screen_name'] %></div>
					<a href="../mypolls">My Polls</a>
					<a href='../newpoll'>New Poll</a>
					<a href='../sign-out'>Sign Out</a>
				</div>
			</div>
		<% } else { %>
			<div class="sign-in">
				<a href='../request-token'>Sign in</a>
			</div>
		<% } %>
	</div>
</div>