<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Voting App</title>
		<link rel='stylesheet' type='text/css' href='./public/style.css'>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>

	<body>

		<div class="background">
			<div class="navbar-container">
				<div class="navbar">
					<div class='destination'><a href='../'>All Polls</a></div>
					<div class='destination'><a href='../newpoll'>New Poll</a></div>
					<div class='destination'><a href='../request-token'>Sign in with Twitter</a></div>
					<div class="user-info">
						
					</div>
				</div>
			</div>

			<div class='main-container'>
				<div class="title">Here are some polls</div>
				<div class="polls-holder">
					<% for(var i = 0; i < polls.length; i++) { %>
						<div class="poll"><%- link_to(polls[i].title, 'polls/'+polls[i]._id) %></div>
					<% } %>
				</div>
			</div>
		</div>

	</body>
</html>