<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Voting App</title>
		<link rel='stylesheet' type='text/css' href='./public/styles/style.css'>
		<link rel='stylesheet' type='text/css' href='../public/styles/navbar.css'>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>

	<body>

		<div class='background'>
			<div class="navbar-container">
				<% include ./partials/navbar %>
			</div>

			<div class="main-container">
				<div class='form-holder'>
					<div class='title'>Create a New Poll</div>
					<form action='/new-poll' method='POST'>
						<input type="text" name='title' placeholder="Title" required>
						<textarea name='options' placeholder="Options, one per line" required></textarea>
						<button type='submit'>Submit</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>