<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Voting App</title>
		<link rel='stylesheet' type='text/css' href='./public/style.css'>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>

	<body>

		<div class="background">
			<div class='container'>
				<div class="title">Here are some polls</div>
				<div class="poll-holder">
					<%= poll %>
				</div>
			</div>
		</div>

	</body>
</html>