<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Voting App</title>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link rel='stylesheet' type='text/css' href='../public/styles/style.css'>
	</head>

	<body>

		<div class="background">
			<div class="navbar-container">
				<% include ./partials/navbar %>
			</div>

			<div class='main-container'>
				<div class="title">Here are <%- polls[0].author.name %>'s polls</div>
				<div class="polls-holder">
					<% for(var i = 0; i < polls.length; i++) { %>
						<div class="poll"><%- link_to(polls[i].title, '../polls/'+polls[i]._id) %></div>
					<% } %>
				</div>
			</div>

			<footer>
				<% include ./partials/footer %>
			</footer>
		</div>
		<script src='../public/js/navbar.js'></script>
	</body>
</html>