html, body
	margin: 0
	padding: 0
	background-color: #eee
	font-family: 'Lato'

	.container
		display: flex
		justify-content: center
		width: 100vw
		height: 100vh

		.form-holder
			display: flex
			flex-direction: column


			.title
				font-size: 2em

			form
				display: flex
				flex-direction: column
