html, body
	margin: 0
	padding: 0
	background-color: #eee
	font-family: 'Lato'

	.background
		display: flex
		flex-direction: column

		.main-container
			display: flex
			justify-content: center
			width: 100vw
			margin-top: 3em

			.form-holder
				display: flex
				flex-direction: column
				width: 30vw
				max-width: 400px

				.title
					font-size: 2em
					text-align: center

				form
					margin-top: 0.5em
					display: flex
					flex-direction: column

					input
						height: 1.5em
						padding-left: 0.25em

					textarea
						margin-top: 0.5em
						padding-left: 0.25em
						height: 6em

					button
						margin-top: 0.5em
						height: 3em
						width: 30%
						margin-left: 35%
						background-color: darkred
						color: #fff
						border: none
						cursor: pointer