@import 'footer', 'navbar', 'palette'

html, body
	margin: 0
	padding: 0
	background-color: #f5f5f5
	font-family: 'Roboto', Helvetica, Arial
	font-weight: 300
	height: 100%

	.background
		display: flex
		flex-direction: column
		align-items: center
		min-height: 100%

		.main-container
			display: flex
			align-items: center
			flex-direction: column
			margin-top: 8em
			width: 100%
			flex: 1

			.poll-outline
				display: flex
				justify-content: center
				width: 70%
				background-color: #fff
				padding-top: 2em
				padding-bottom: 2em
				margin-bottom: 4em
				box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4)

				.poll-holder
					display: flex
					justify-content: space-between
					width: 85%

					.poll-interface
						max-width: 50%
						display: flex
						flex-direction: column

						.poll-title
							font-size: 2.75rem

						.poll-author
							a
								color: #000

						.poll-indent
							margin-left: 1rem
							margin-top: 0.5rem

							#vote-form
								display: flex
								flex-direction: column

								.option
									margin-top: 1rem
									font-size: 1.2rem

								.init-new-option
									color: #000
									cursor: pointer
									margin-top: 1rem
									margin-left: 1.5rem
									transition: color 250ms ease

								.init-new-option:hover
									color: #222

								.vote-button
									font-size: 1.2rem
									border-radius: 2px
									font-family: 'Roboto'
									font-weight: 300
									margin-top: 1.25rem
									background-color: $primary-dark
									border: none
									color: #fff
									height: 2.5rem
									width: 6rem
									cursor: pointer
									align-self: center
									transition: background-color 250ms ease

								.vote-button:hover
									background-color: $primary-light

							.new-option
								margin-top: 1rem
								display: flex

								.new-option-form
									display: none

									input
										height: 1.65rem
										padding-left: 0.25rem


									.create-new, .cancel-new
										height: 2rem
										width: 6rem
										border-radius: 2px
										font-family: 'Roboto'
										font-weight: 300
										border: none
										color: #fff
										cursor: pointer

									.create-new
										background-color: $primary-dark
										transition: background-color 250ms ease

									.create-new:hover
										background-color: $primary-light

									.cancel-new
										background-color: #fff
										border: 1px solid #333
										color: #333
										transition: background-color 250ms ease, color 250ms ease

									.cancel-new:hover
										background-color: #333
										color: #fff


					.poll-results
						display: flex
						flex-direction: column
						align-items: center
						justify-content: center

						.delete-button
							margin-top: 1rem
							display: flex
							align-self: center
							height: 3rem
							width: 8rem
							order: 5

							a
								background-color: #fff
								color: $warn-dark
								border: 1px solid $warn-dark
								border-radius: 2px
								text-decoration: none
								height: 100%
								width: 100%
								display: flex
								justify-content: center
								align-items: center
								transition: color 250ms ease, background-color 250ms ease

							a:hover
								background-color: $warn-dark
								color: #fff

						.text-results
							margin-top: 0.5rem
							display: flex
							flex-wrap: wrap
							max-width: 400px