html, body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: "Lato"; }
  html .background, body .background {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh; }
    html .background .main-container, body .background .main-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 4em;
      width: 90vw;
      max-width: 800px; }
      html .background .main-container .poll-holder, body .background .main-container .poll-holder {
        display: flex;
        justify-content: space-between;
        width: 100%; }
        html .background .main-container .poll-holder .poll-interface, body .background .main-container .poll-holder .poll-interface {
          display: flex;
          flex-direction: column; }
          html .background .main-container .poll-holder .poll-interface .poll-title, body .background .main-container .poll-holder .poll-interface .poll-title {
            font-size: 2em; }
          html .background .main-container .poll-holder .poll-interface form, body .background .main-container .poll-holder .poll-interface form {
            margin-top: 0.25em; }
            html .background .main-container .poll-holder .poll-interface form button, body .background .main-container .poll-holder .poll-interface form button {
              margin-top: 0.5em; }
          html .background .main-container .poll-holder .poll-interface .new-option, body .background .main-container .poll-holder .poll-interface .new-option {
            margin-top: 0.5em; }
            html .background .main-container .poll-holder .poll-interface .new-option .init-new-option, body .background .main-container .poll-holder .poll-interface .new-option .init-new-option {
              color: darkred;
              cursor: pointer; }
            html .background .main-container .poll-holder .poll-interface .new-option .new-option-form, body .background .main-container .poll-holder .poll-interface .new-option .new-option-form {
              display: none; }
          html .background .main-container .poll-holder .poll-interface .delete-button, body .background .main-container .poll-holder .poll-interface .delete-button {
            display: flex;
            margin-top: 2em;
            align-self: center; }
            html .background .main-container .poll-holder .poll-interface .delete-button a, body .background .main-container .poll-holder .poll-interface .delete-button a {
              background-color: darkred;
              color: white;
              text-decoration: none;
              padding: 0.75em 1.25em; }
        html .background .main-container .poll-holder .poll-results, body .background .main-container .poll-holder .poll-results {
          display: flex;
          flex-direction: column;
          align-items: center; }
          html .background .main-container .poll-holder .poll-results .text-results, body .background .main-container .poll-holder .poll-results .text-results {
            margin-top: 0.5em; }

/*# sourceMappingURL=poll.css.map */
