footer {
  display: flex;
  width: 100vw;
  max-width: 100%;
  background-color: #111;
  justify-content: center;
  align-items: center;
  height: 3em; }
  footer .info-container {
    width: 90vw;
    display: flex;
    justify-content: space-between; }
    footer .info-container .source a, footer .info-container .signature a {
      text-decoration: none;
      color: #999; }
    footer .info-container .source a:hover, footer .info-container .signature a:hover {
      text-decoration: underline; }

.navbar-container {
  width: 100%;
  background-color: #111;
  color: #fff;
  position: fixed;
  top: 0; }
  .navbar-container .navbar {
    width: 95vw;
    display: flex;
    justify-content: flex-end; }
    .navbar-container .navbar .destination:hover {
      background-color: #222; }
    .navbar-container .navbar .destination:first-child {
      border-left: 1px #444 solid; }
    .navbar-container .navbar .destination {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-right: 1px #444 solid; }
      .navbar-container .navbar .destination .user-interface {
        cursor: pointer;
        display: flex;
        height: 4em; }
        .navbar-container .navbar .destination .user-interface .user-info {
          display: flex;
          align-items: center;
          margin-left: 0.5em;
          margin-right: 0.5em; }
          .navbar-container .navbar .destination .user-interface .user-info .user-image {
            border-radius: 0.1em; }
          .navbar-container .navbar .destination .user-interface .user-info .username {
            margin-left: 0.5em; }
        .navbar-container .navbar .destination .user-interface .dropdown {
          position: absolute;
          top: 100%;
          left: 0%;
          width: 100%; }
          .navbar-container .navbar .destination .user-interface .dropdown a {
            display: none; }
      .navbar-container .navbar .destination .user-interface:hover .dropdown {
        display: flex;
        flex-direction: column; }
        .navbar-container .navbar .destination .user-interface:hover .dropdown a {
          width: 100%;
          display: flex;
          justify-content: center;
          background-color: #333; }
        .navbar-container .navbar .destination .user-interface:hover .dropdown a:hover {
          background-color: #444; }
      .navbar-container .navbar .destination a {
        text-decoration: none;
        color: #fff;
        height: 4em;
        width: 6em;
        display: flex;
        align-items: center;
        justify-content: center; }

html, body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: "Lato";
  height: 100%; }
  html .background, body .background {
    display: flex;
    flex-direction: column;
    min-height: 100%; }
    html .background .main-container, body .background .main-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 8em;
      flex: 1;
      width: 100%; }
      html .background .main-container .title, body .background .main-container .title {
        font-size: 3em; }
      html .background .main-container .polls-holder, body .background .main-container .polls-holder {
        margin-top: 2em;
        margin-bottom: 4em;
        width: 60%;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding-top: 1em;
        padding-bottom: 1em;
        border-radius: 2px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4); }
        html .background .main-container .polls-holder .poll, body .background .main-container .polls-holder .poll {
          width: 100%;
          height: 4em;
          display: flex;
          position: relative; }
          html .background .main-container .polls-holder .poll a, body .background .main-container .polls-holder .poll a {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #000;
            background-color: #fff; }
          html .background .main-container .polls-holder .poll a:hover, body .background .main-container .polls-holder .poll a:hover {
            background-color: #eee; }
        html .background .main-container .polls-holder .poll:after, body .background .main-container .polls-holder .poll:after {
          content: "";
          position: absolute;
          width: 80%;
          bottom: 0;
          left: 10%;
          border-top: 1px solid rgba(50, 50, 50, 0.25); }
        html .background .main-container .polls-holder .poll:last-child:after, body .background .main-container .polls-holder .poll:last-child:after {
          border: none; }

/*# sourceMappingURL=style.css.map */
